<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="includes">
        <script th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>
        <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
        <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/forms.js}"></script>
        <link th:href="@{/css/global.css}" rel="stylesheet" />
        <link th:href="@{/css/buttons.css}" rel="stylesheet" />
        <link th:href="${'/css/'+appTheme}" rel="stylesheet" />
    </th:block>

    <div th:fragment="insert-my_repositories" id="my_files-my_repositories">
        <script>
            REST.replaceWithRequestResponse('my_files-my_repositories', '/repository/my', null);
        </script>
    </div>
</html>
