<div xmlns:th="http://www.thymeleaf.org" th:fragment="drop_zone">
    <div id="drop_zone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);" hidden>
        <p>[[#{drop.zone.drag.here}]]</p>
    </div>

    <script>
        function dropHandler(ev) {
            ev.preventDefault();

            if (ev.dataTransfer.items) {
                for (var i = 0; i < ev.dataTransfer.items.length; i++) {
                    if (ev.dataTransfer.items[i].kind === 'file') {
                        var file = ev.dataTransfer.items[i].getAsFile();
                        uploadFile(file);
                    }
                }
            }
            // else {
            //     for (var i = 0; i < ev.dataTransfer.files.length; i++) {
            //     }
            // }

            removeDragData(ev)
        }

        function dragOverHandler(ev) {
            ev.preventDefault();
        }

        function removeDragData(ev) {
            if (ev.dataTransfer.items) {
                ev.dataTransfer.items.clear();
            } else {
                ev.dataTransfer.clearData();
            }
        }
    </script>
</div>