<div th:fragment="my_repostitories" xmlns:th="http://www.thymeleaf.org">
    <link th:href="@{/css/my_repositories.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/icons.css}" rel="stylesheet" type="text/css">

    <script>
        var selectedRepositoryId = -1;

        $(document).on("click", ".mr-row", function () {
            selectRow($(this));
        });

        function selectRow(row) {
            selectedRepositoryId = row.attr('data');
            $('.mr-row').removeClass('selected-row');
            row.addClass('selected-row');
            $('#file_upload_submit_button').prop('disabled', false);
            refreshFilesView();

            $('#drop_zone').show();
        }

        function refreshFilesView() {
            var myUploadedFiles = $('#my_uploaded_files');
            if(myUploadedFiles.length) {
                REST.getData("/files/my/repo/" + selectedRepositoryId + "/", null, function(data) {
                    myUploadedFiles.html(data);

                    var table = $("#my_files_table");
                    var noData = $("#my_files_no_files_in_repo");

                    if(data.trim().length === 0) {
                        table.hide();
                        noData.show();
                    } else {
                        table.show();
                        noData.hide();
                    }
                });
            }
        }

        $(document).on("mouseover", ".mr-row", function() {
            $('.mr-box-with-edit-options').hide();
            $(this).find('.mr-box-with-edit-options').show();
        });

        $(document).on("click", ".repo-path-updater", function() {
            var rowParent = $(this).parent().parent();
            selectRow(rowParent);

            var fullPath = rowParent.attr('data-full-repo');
            $('.modal_repo_path').each(function(i, obj) {
                var object = $(this);
                var nodeType = object.prop('nodeName');
                if(nodeType === 'INPUT')
                    object.val(fullPath);
                else
                    object.text(fullPath);

            });
        });
    </script>

    <script>
        function sendDeleteRepoRequest() {
            if (selectedRepositoryId !== -1) {
                REST.fullForm('DELETE', null, '/repository/delete/' + selectedRepositoryId, null, function(data) {
                    $('.selected-row').remove();
                    $('#file_upload_submit_button').prop('disabled', true);
                    refreshMyRepositories();
                });
            }
        }

        function getEditRepoModal() {
            if(selectedRepositoryId !== -1) {
                REST.getModal('modal_edit_repo', '/modal/repository/edit/' + selectedRepositoryId, null);
            }
        }

        function sendEditRepoRequest() {
            var object = {
                id: selectedRepositoryId,
                path: $('#input_repo_path').val(), // TODO: allow path update
                password: $('#input_password').val(),
                isProtected: $('#check_protected').is(':checked'),
                isPrivate: $('#check_private').is(':checked')
            };

            if (selectedRepositoryId !== -1) {
                REST.fullForm('POST', object, '/repository/update/', null, function (data) {
                    $('#modal_edit_repo').modal('hide');
                    refreshMyRepositories();
                });
            }
        }

        function sendCreateRepoRequest() {
            var object = {
                parentId: selectedRepositoryId,
                name: $('#creation-input_repo_name').val(),
                password: $('#creation-input_password').val(),
                isProtected: $('#creation-check_protected').is(':checked'),
                isPrivate: $('#creation-check_private').is(':checked')
            };

            if (selectedRepositoryId !== -1) {
                REST.fullForm('PUT', object, '/repository/create/', null, function (data) {
                    $('#modal_edit_repo').modal('hide');
                    refreshMyRepositories();
                });
            }
        }

        var refreshMyRepositories = function () {
            setTimeout(function () {
                REST.replaceWithRequestResponse('my_files-my_repositories', '/repository/my', null);
            }, 500);
        };
    </script>

    <div>
        <div class="mr-title mr-background">
            <b>[[#{my.repositories.title}]]</b>
        </div>
        <div class="mr-background mr-container">
            <div class="mr-row" th:each="repo : ${repos}" th:data="${repo.id}" th:data-full-repo="${repo.realPath}">
                <i class="demo-icon" th:text="${repo.isProtected ? '&#xe801;' : ''}"></i>
                <i class="demo-icon" th:text="${repo.isPrivate ? '&#xe802;' : ''}"></i>
                <i class="mr-repo-name" th:text="${repo.displayPath}"></i>
                <div class="mr-box-with-edit-options" hidden>
                    <i class="demo-icon icon-transparent" onclick="getEditRepoModal()">&#xe803;</i>
                    <i class="demo-icon icon-transparent repo-path-updater" data-toggle="modal" data-target="#modal_create_repo">&#xe804;</i>
                    <i class="demo-icon icon-transparent repo-path-updater" data-toggle="modal" data-target="#modal_confirm_delete_repo">&#xe805;</i>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_confirm_delete_repo" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <span th:text="#{do.you.want.to.delete.repo}"></span>
                    <b><span class="modal_repo_path"></span></b>
                    <span>?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" onclick="sendDeleteRepoRequest()" data-dismiss="modal">[[#{button.delete}]]</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_edit_repo" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" onclick="sendEditRepoRequest()" data-dismiss="modal">[[#{button.save}]]</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_create_repo" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control modal_repo_path" id="creation-input_repo_path" disabled>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="creation-input_repo_name" th:placeholder="#{placeholder.repostiory.name}">
                    </div>
                    <div class="form-check">
                        <div class="radio">
                            <label><input type="radio" name="optradio" checked onchange="enablePasswordInput()">[[#{my.repositories.public.message}]]</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optradio" id="creation-check_private" onchange="enablePasswordInput()">[[#{my.repositories.private.message}]]</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optradio" id="creation-check_protected" onchange="enablePasswordInput()">[[#{my.repositories.protected.message}]]</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="creation-input_password" th:placeholder="#{placeholder.password}" disabled>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">[[#{button.close}]]</button>
                    <button type="button" class="btn btn-danger" onclick="sendCreateRepoRequest()" data-dismiss="modal">[[#{button.create}]]</button>
                </div>
            </div>
        </div>

        <script>
            function enablePasswordInput() {
                var checked = $('#creation-check_protected').is(':checked');
                $('#creation-input_password').prop('disabled', !checked);
            }
        </script>
    </div>
</div>