<header xmlns:th="http://www.thymeleaf.org" th:fragment="navbar">
    <link th:href="@{/css/navbar.css}" rel="stylesheet" />

    <nav class="navbar">
        <a class="navbar-brand" id="navbar-brand" href="/">
            <img th:src="@{/images/logo.png}">
            <span>[[#{navbar.brand}]]</span>
        </a>

        <div class="collapse navbar-collapse" id="navbar-avatar">
            <div class="dropdown">
                <span th:if="${loggedInUsername != null}" th:text="${loggedInUsername}"></span>
                <img th:src="@{/images/avatar.png}" class="dropdown-toggle" id="navbar_dropdown_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <ul class="dropdown-menu" aria-labelledby="navbar_dropdown_button" style="right: 0; left: auto;">
                    <li th:if="${loggedInUsername == null}"><a href="/login">[[#{button.login}]]</a></li>
                    <li th:if="${loggedInUsername == null}"><a href="/register">[[#{button.register}]]</a></li>
                    <li th:if="${loggedInUsername != null}"><a href="/logout">[[#{button.logout}]]</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>