<aside xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar">
    <link th:href="@{/css/sidebar.css}" rel="stylesheet" type="text/css">

    <ul class="sidebar-nav" id="sidebar-wrapper">
        <li class="sidebar-brand">[[#{sidebar.title}]]</li>
        <li>
            <a href="/files/add">[[#{sidebar.add_files}]]</a>
        </li>
        <li>
            <a href="/files/my">[[#{sidebar.my_files}]]</a>
        </li>
        <li>
            <a href="/search">[[#{sidebar.search}]]</a>
        </li>
        <li>
            <a href="/settings/me">[[#{sidebar.settings}]]</a>
        </li>
        <li>
            <a href="/air/get">[[#{sidebar.air.quality}]]</a>
        </li>
    </ul>
</aside>