.text-error {
    color: #F00;
}

.main-container {
    margin-top: -20px;
    padding: 20px;
}

.content-div {
    display: inline-block;
    width: 78%;
}

.margin-top-50px {
    margin-top: 50px;
}

aside {
    display: inline-block;
    float: right;
    width: 220px;
    height: 88vh;
}

#search-form {
    padding: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

#search-results {
    padding: 20px 80px 20px 80px;
}

.search-result {
    margin: 10px 0 10px 0;
    height: 100px;
    padding: 10px;
}

.settings-panel label {
    float:right;
}
.settings-panel .row {
    padding: 10px;
}

#drop_zone {
    border: 2px inset;
    width:  100%;
    height: 125px;
}

.center-div-wrapper {
    text-align: center;
}
.center-div {
    display: inline-block;
}

#file_upload_form {
    padding: 10px;
}

#file_upload_submit_button {
    margin-top: 10px;
}

.additional_link_in_form {
    margin-top: 25px;
}

#search-paragraph {
    margin: 30px;
}

.title-header {
    max-width: 300px;
    margin: auto auto 40px;
}

.air-quality-status-ok {
    color: green;
}

.air-quality-status-warning {
    color: red;
}

.disabled-input-cursor {
    cursor: text !important;
}