@font-face {
    font-family: 'fontello';
    src: url('/font/fontello.eot?55907594');
    src: url('/font/fontello.eot?55907594#iefix') format('embedded-opentype'),
    url('/font/fontello.woff?55907594') format('woff'),
    url('/font/fontello.ttf?55907594') format('truetype'),
    url('/font/fontello.svg?55907594#fontello') format('svg');

    font-weight: normal;
    font-style: normal;
}

.demo-icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    width:8px;
    max-width:8px;

    display: inline-block;
    text-decoration: inherit;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-transparent {
    opacity: 0.6;
    color: #000;
}

.icon-transparent:hover {
    opacity: 0.6;
    color: white;
    cursor: none;
}

/*
* All icons
*
        <i class="demo-icon icon-search">&#xe800;</i>
        <i class="demo-icon icon-lock">&#xe801;</i>
        <i class="demo-icon icon-block">&#xe802;</i>
        <i class="demo-icon icon-pencil">&#xe803;</i>
        <i class="demo-icon icon-plus">&#xe804;</i>
        <i class="demo-icon icon-minus">&#xe805;</i>
        <i class="demo-icon icon-doc">&#xe806;</i>
        <i class="demo-icon icon-cog">&#xe807;</i>
        <i class="demo-icon icon-docs">&#xf0c5;</i>
        <i class="demo-icon icon-info">&#xf129;</i>
        <i class="demo-icon icon-user-circle">&#xf2bd;</i>
 */