.mr-title {
    width: 150px;
    padding: 5px 5px 5px 10px;
}
.mr-background {
    cursor: grab;
}
.mr-container {
    width: 80%;
}
.mr-repo-name {
    white-space:pre;
}

.mr-box-with-edit-options {
    float: right;
    margin-right: 5px;
}
