.navbar-brand {
    padding:0;
}

#navbar-avatar {
    float:right;
}

#navbar-brand {
    padding: 0;
}

#navbar-brand img {
    display: inline-block;
}

#navbar-avatar span {
    margin-right: 30px;
}

.navbar {
    padding: 5px;
}
