<div xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragment/base::insert-my_repositories"></div>
    <table id="uploaded_files" class="table" hidden>
        <thead>
            <tr>
                <th>[[#{files.labels.file}]]</th>
                <th>[[#{files.labels.download}]]</th>
                <th>[[#{files.labels.size}]]</th>
                <th>[[#{files.labels.status}]]</th>
            </tr>
        </thead>
        <tbody id="uploaded_files_body">

        </tbody>
    </table>
    <div class="center-div-wrapper">
        <div class="center-div">
            <h3>[[#{files.upload.file}]]</h3>
            <div th:replace="fragment/drop_zone::drop_zone"></div>
            <form id="file_upload_form" name="file_upload_form">
                <input id="file_upload_input" type="file" name="file" class="form-control-file" required />
                <button id="file_upload_submit_button" type="submit" class="btn btn-file-hosting" data-toggle="tooltip" data-placement="bottom" th:title="#{select.repository.first}" disabled>[[#{button.submit}]]</button>
            </form>
        </div>
    </div>

    <script th:src="@{/js/add_file.js}"></script>
</div>