<div class="text-center" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <h2>Status: <span th:text="${status.status}" th:classappend="${status.status == 'ok' ? 'air-quality-status-ok' : 'air-quality-status-warning'}"></span></h2>
    </div>
    <div class="row">
        <h2>AQI: <span th:text="${status.aqi}"></span></h2>
    </div>
    <div class="row">
        <h3>Pomiar: <span th:text="${status.city}"></span></h3>
    </div>
</div>
