<div xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid">
        <div class="row">
            <h2 th:text="${info.file.name}"></h2>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h4><strong>[[#{file.info.repo.path}]]</strong></h4>
                <h5 th:text="${info.file.repositoryPath}"></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h4><strong>[[#{files.labels.date.created}]]</strong></h4>
                <h5 th:text="${#dates.format(info.file.created, 'dd-MMM-yyyy HH:mm')}"></h5>
            </div>
            <div class="col-sm-3">
                <h4><strong>[[#{files.labels.size}]]</strong></h4>
                <h5 th:text="${info.file.getSizeStr()}"></h5>
            </div>
            <div class="col-sm-3">
                <h4><strong>[[#{file.info.owner}]]</strong></h4>
                <h5 th:text="${info.file.ownerName}"></h5>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <label for="infoUri">[[#{file.info.information.link}]]</label>
                <input type="text" class="form-control disabled-input-cursor" id="infoUri" th:value="${info.file.uri}" disabled>
            </div>
        </div>
        <div class="row" th:if="${info.protection == null || info.protection.accessGained}">
            <div class="col-sm-6">
                <label for="downloadUri">[[#{file.info.download.uri}]]</label>
                <input type="text" class="form-control disabled-input-cursor" id="downloadUri" th:value="${info.downloadUri}"  disabled>
            </div>
            <div class="col-sm-2">
                <br>
                <a th:href="${info.downloadUri}">[[#{files.labels.download}]]</a>
            </div>
        </div>
        <div class="row" th:if="${info.protection != null && !info.protection.accessGained}">
            <hr>
            <p>[[#{file.info.protection.information}]]</p>
            <div class="col-sm-6">
                <input type="password" class="form-control col-sm-6" id="password-repo">
            </div>
            <button type="button" class="btn btn-file-hosting col-sm-2" onclick="requestRepoAccess()">[[#{button.submit}]]</button>
        </div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var placeholderText = /*[[#{file.info.password.for}]]*/ "";
        var placeholderRepo = /*[[${info.protection?.repositoryPath}]]*/ "";
        var repositoryId = /*[[${info.protection?.repositoryId}]]*/ -1;
        /*]]>*/
    </script>
    <script>
        var placeholder = placeholderText + placeholderRepo;
        var passwordRepo = $('#password-repo');
        passwordRepo.prop('placeholder', placeholder);

        function requestRepoAccess() {
            var url = "/repository/permission/" + repositoryId + "/password/" + passwordRepo.val();
            REST.getData(url, null, function () {
                location.reload();
            });
        }
    </script>

</div>