<div xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragment/base::insert-my_repositories"></div>

    <table id="my_files_table" class="table margin-top-50px" hidden>
        <thead>
        <tr>
            <th>[[#{files.labels.file}]]</th>
            <th>[[#{files.labels.size}]]</th>
            <th>[[#{files.labels.type}]]</th>
            <th>[[#{files.labels.date.created}]]</th>
            <th>[[#{files.labels.actions}]]</th>
        </tr>
        </thead>
        <tbody id="my_uploaded_files"></tbody>
    </table>
    <p id="my_files_no_files_in_repo">[[#{no.files.in.repo}]]</p>

    <script>
        function onDeleteClicked(fileId) {
            REST.fullForm("DELETE", null, "/files/delete/"+fileId, null, function() {
                refreshFilesView();
            });
        }
    </script>
</div>
