 <div class="container-fluid settings-panel" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-3">
            <label for="selectLang">[[#{settings.lang.select}]]</label>
        </div>
        <div class="col-sm-3">
            <select class="form-control" id="selectLang">
                <option th:each="lang,iter : ${langs}" th:text="${lang}" th:data="${langsShort[iter.index]}" th:selected="${langsShort[iter.index] == settings.language}"></option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-3">
            <label for="selectTheme">[[#{settings.theme.select}]]</label>
        </div>
        <div class="col-sm-3">
            <input type="checkbox" id="selectTheme" th:checked="${settings.theme == 'dark'}"> [[#{settings.theme.dark}]]
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-5">
            <button class="btn btn-file-hosting" onclick="saveSettings()">[[#{button.save}]]</button>
        </div>
    </div>

    <script>
        function saveSettings() {
            var darkTheme = $('#selectTheme').is(':checked');
            var lang = $('#selectLang option:selected');

            var data = {
                theme: darkTheme ? 'dark' : 'light',
                language: lang.attr('data')
            };

            REST.sendData("POST", data, "/settings/update", null, function() {
                window.location = '/settings/me?lang=' + lang.attr('data');
            })
        }
    </script>
</div>
