<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[#{register.menu.title}]]</title>
    <meta th:replace="fragment/base::includes">
</head>
<body>
<div th:replace="fragment/navbar::navbar"></div>

<div class="container main-container" style="height: 90vh;">
    <div class="content-div">
        <form class="container" action="/register" th:object="${user}" method="POST">
            <div class="row">
                <h3 class="col-sm-offset-1" th:text="#{register.label.form.title}">form</h3>
            </div>
            <div class="row">
                <label class="col-sm-2 text-right" th:text="#{register.label.user.displayName}">display name</label>
                <input class="col-sm-3" th:field="*{displayName}"/>
                <p th:each="error:${#fields.errors('displayName')}" th:text="${error}" class="text-error col-sm-offset-2">Validation error</p>
            </div>
            <div class="row">
                <label class="col-sm-2 text-right" th:text="#{register.label.user.email}">email</label>
                <input class="col-sm-3" type="email" th:field="*{email}"/>
                <p th:each="error:${#fields.errors('email')}" th:text="${error}" class="text-error col-sm-offset-2">Validation error</p>
            </div>
            <div class="row">
                <label class="col-sm-2 text-right" th:text="#{register.label.user.password}">password</label>
                <input class="col-sm-3" type="password" th:field="*{password}"/>
            </div>
            <div class="row">
                <label class="col-sm-2 text-right" th:text="#{register.label.user.confirm.password}">confirm</label>
                <input class="col-sm-3" type="password" th:field="*{matchingPassword}"/>
                <p th:each="error:${#fields.errors('global')}" th:text="${error}" class="text-error col-sm-offset-2">Validation error</p>
            </div>
            <div class="row">
                <button class="btn btn-file-hosting col-sm-offset-1" type="submit" th:text="#{register.label.form.submit}">[[#{button.submit}]]</button>
            </div>
            <div class="row">
                <a class="col-sm-offset-1 col-sm-1 additional_link_in_form" th:href="@{/login}" th:text="#{register.label.loginLink}">[[#{button.login}]]</a>
            </div>
        </form>
    </div>
</div>

</body>
</html>