<div xmlns:th="http://www.thymeleaf.org">
    <div id="search-form container">
        <div class="row">
            <h3 id="search-paragraph" th:text="#{search.paragraph}"></h3>
        </div>
        <div class="row">
            <div class="col-sm-offset-2 col-sm-6">
                <input type="text" class="form-control" id="search-input" th:placeholder="#{placeholder.search}">
            </div>
            <div class="col-sm-2">
                <input type="button" class="btn btn-file-hosting" id="submit-search" th:value="#{button.search}" onclick="submitSearch()">
            </div>
        </div>
    </div>

    <div id="search-results">
    </div>

    <script th:src="@{/js/search.js}"></script>
</div>
