<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{${title == null ? 'navbar.brand' : title}}"></title>
    <meta th:replace="fragment/base::includes">
</head>
<body>
    <div th:replace="fragment/navbar::navbar"></div>
    <div class="container main-container">
        <div class="content-div">
            <div class="text-center" th:if="${title != null}">
                <h1 th:text="#{${title}}"></h1>
            </div>

            <div th:replace="${content}"></div>
        </div>
        <aside th:replace="fragment/sidebar::sidebar"></aside>
    </div>
</body>
</html>