<th:block xmlns:th="http://www.thymeleaf.org">
    <tr th:each="file,iter : ${files}" th:data="${file.id}">
        <td><a th:href="${uris[iter.index]}" th:text="${file.name}"></a></td>
        <td th:text="${file.getSizeStr()}"></td>
        <td th:text="${file.fileType}"></td>
        <td th:text="${#dates.format(file.created, 'dd-MMM-yyyy HH:mm')}"></td>
        <td><button type="button" class="btn btn-danger btn-outline" th:onclick="'onDeleteClicked('+${file.id}+')'">[[#{button.delete}]]</button></td>
    </tr>
</th:block>