<div xmlns:th="http://www.thymeleaf.org">
    <div th:each="result : ${searchResults}" class="search-result container-fluid">
        <div class="row">
            <a th:href="${result.uri}"><h4 class="col-sm-9" th:text="${result.name}"></h4></a>
            <span class="col-sm-3" th:text="${#dates.format(result.created, 'dd-MMM-yyyy HH:mm')}"></span>
        </div>
        <div class="row">
            <span class="col-sm-9" th:text="${result.repositoryPath}"></span>
            <span class="col-sm-3" th:text="${result.ownerName}"></span>
        </div>
        <div class="row">
            <span class="col-sm-4" th:text="${result.getSizeStr()}"></span>
        </div>
    </div>
</div>