<tr xmlns:th="http://www.thymeleaf.org">
    <td><a th:href="${response.fileInfoUri}" th:text="${response.fileName}"></a></td>
    <td><a th:href="${response.fileDownloadUri}">[[#{button.download}]]</a></td>
    <td th:text="${response.getSizeStr()}"></td>
    <td>[[#{files.download.finished}]]</td>
</tr>