body {
    background: darkgray;
}

.main-container {
    background: #888;
}

aside {
    background: #000;
}

#navbar_dropdown_button:hover {
    background-color: #555;
    border-radius: 25px;
}

.btn-file-hosting {
    color: white;
    background-color: #333;
    border-color: #555;
}

.btn-file-hosting:hover {
    color: #aaa !important;
}
.btn-file-hosting:focus {
    color: #aaa !important;
}

.mr-background {
    background-color: dimgray;
}

a {
    color: white;
}

.mr-row:hover {
    background-color: darkgray;
}

.selected-row {
    color: white;
}

.search-result {
    background: #555;
    color: #fff;
}

.sidebar-brand {
    color: white;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.navbar-brand {
    color: white;
}

#navbar-avatar span {
    color: white;
}

.navbar {
    background-color: #333333;
}