body {
    background: white;
}

.main-container {
    background: #dbf7ff;
}

aside {
    background: #25F;
}

#navbar_dropdown_button:hover {
    background-color: #25F;
    border-radius: 25px;
}

.btn-file-hosting {
    color: white;
    background-color: #25F;
    border-color: #22F;
}

.btn-file-hosting:hover {
    color: #5bc0de !important;
}
.btn-file-hosting:focus {
    color: #5bc0de !important;
}

.mr-background {
    background-color: #27F;
}

.mr-row:hover {
    background-color: #29F;
}

.selected-row {
    color: white;
}

.search-result {
    background: #27F;
    color: #fff;
}

.sidebar-brand {
    color: white;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

.sidebar-nav li a:hover {
    color: #5bc0de;
    background: rgba(255, 255, 255, 0.2);
}

.navbar-brand {
    color: white;
}

#navbar-avatar span {
    color: white;
}

.navbar {
    background-color: #27F;
}

a {
    color: blue;
}